@{
    ViewBag.Title = "Home Page";
}
    <link href="~/Content/Site.css" rel="stylesheet" />

@*Code of this project is based on in-class example*@
<div class="">
    <h1>Comp Shop</h1>
    <img id="logo-img" src="~/Content/Items/logo-img.jpg" alt="logo image"/>
</div>

